<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Accessories</title>
    </head>
    <body>
        <h1>Accessories show page</h1>
        <%=studio.name %> <br>
        <%=studio.manufacturer %> <br>
        <%=studio.category %> <br>
        <%=studio.serial %> <br>
        <%=studio.cost %>
        
        <nav>
            <a href="/studio/accessories">Back to Accessories</a>
        </nav>
    </body>
</html>