<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Main</title>
    </head>
    <body>
        <header>
            <div class="banner">
                <h1 class="banner-header">Studio-Manager</h1>
                <a href="/studio/">My Studio</a>
                <a href="/studio/instruments">Instruments</a>
                <a href="/studio/effects">Effects</a>
                <a href="/studio/software">Software</a>
                <a href="/studio/accessories">Accessories</a>
                
            </div>
        </header>
    <div class="main-container">
        <h1 class="page-header">Instruments</h1> 
        <ul>
            <div class="gear-container">
            <% for(let i = 0; i < studio.length; i++){ %>
           
              <li>
                <div class="icon-stack">
                    <a class="thumbnail-name" href="/studio/instruments/<%=studio[i].id %>">
                    <%=studio[i].name %>
                    </a>
                    <img src="<%=studio[i].image%>" class="thumbnail" alt=""> 
                    <div class="buttons-container">
                        <a class ="edit" href="/studio/instruments/<%=studio[i].id %>/edit">Edit</a>
                        <form action="/studio/instruments/<%= studio[i].id %>?_method=DELETE" method="POST">
                        <input class="delete" type="submit" value="Delete"/>
                        </form>
                    </div>
                <div>
            </li>
            <% } %>
           
            </div>
        </ul>
        <div class="create-button">
            <a class="create" href="/studio/instruments/new">Create a New Instrument</a>
        </div>
    </div>
    </body>
</html>